@import 'variables';

.form-header {
    background-color: $color-black;
    color: $color-white;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    padding: 0 30px;

    input {
        height: 20px;
        margin: 5px 10px;
        float: right;
        outline: 0;
    }

    .home-button {
        float: right;
        cursor: pointer;

        div {
            float: right;
            margin: 6px 0;
        }
    }

}