@import 'variables';

.form-footer {
    background-color: $color-black;
    color: $color-white;
    padding: 30px;
    font-size: 14px;

    div {
        margin: 0 0 30px;
    }

    .small-line {
        background-color: $color-white;
        height: 1px;
    }

    img {
        width: 200px;
        float: right;
    }
}