@import 'variables';

.main {
    font-size: 23px;
    &-title {
        margin: 0 0 30px;
    }@import 'variables';

    &-subtitle {
        margin: 30px 0 0;
    }
}

.button-new-matter {
    font: bold 16px;
    padding: 0 15px;
    background-color: $color-black;
    color: $color-white;
    height: 40px;
    border: 0px;
    margin: 0 0 60px;

    &:hover {
        background-color: $color-gray-most-dark;
    }
}