$color-black : #000000;
$color-white: #FFFFFF;
$color-light-gray: #E6E7E8;
$color-gray-disabled: #DADADA;
$color-gray: #A8A8A7;
$color-gray-dark: #7C7C7B;
$color-gray-most-dark: #575756;
$color-red: #D91E19;
$border-black: 1px solid #000000;
$border-gray-disabled: 1px solid #DADADA;